<div class="main">
    <div class="heading" fxLayout="row" fxLayoutAlign.sm="start start">
        <span class="home" routerLink="/dashboard/getallbook">Home /</span><span> My cart</span>
    </div>

    <div class="main-content" fxFlex.sm="50">
        <div class="title-header" fxLayout="row" fxFlex.sm="50" fxLayoutAlign="space-between center">
            <!-- <div fxLayout="row" fxLayoutGap="2px"> -->
            <span class="title">My Cart({{booksArray?.length}}) </span>
            <div>
                <select class="location">   
                    <option> Use Current Location</option>
                </select>
            </div>
            <!-- </div> -->
        </div>
        <div class="bodyBox" fxLayout="row" >

            <div fxLayoutAlign="start center" fxLayout="row" style="display: flex;flex-direction: row;justify-content: flex-start;" *ngFor="let Book of booksArray">

                <div>
                    <img [src]="Book.bookmodel.bookImage" alt="" class="image">
                </div>

                <div class="details-content">

                    <div style="margin-left:15px;" fxLayoutGap="20px">

                        <div fxLayout="column">
                            <h2 class="title">{{Book.bookmodel.bookName}}</h2>
                            <p id="para"> by {{Book.bookmodel.authorName}}</p>
                        </div>
                    </div>
                    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <b style="margin-left: 18px;">Rs. {{Book.bookmodel.discountPrice * Book.orderQuantity}}</b>
                        <del id="del"> Rs. {{Book.bookmodel.actualPrice * Book.orderQuantity}}</del>
                    </div>
                    <div class="quantitiy" fxLayout="row">
                        <img class="circle" src="../../assets/remove_circle_outline_black_24dp.svg" (click)="minus(Book.cartId, Book.orderQuantity)">
                        <div class="inputBox" fxLayoutAlign="center center">{{Book.orderQuantity}}</div>
                        <img class="circle" src="../../assets/add_circle_outline_black_24dp.svg" (click)="plus(Book.cartId, Book.orderQuantity)">
                        <button class="remove-btn" (click)="removeCart(Book.cartId)">Remove</button>
                    </div>

                    
                </div>
            </div>
        </div>

        <div fxLayoutAlign="end" style="padding-right:20px;">
            <button mat-raised matTooltip="Place Order!" class="button1" *ngIf="showButton" (click)="addressToggle()">
                PLACEORDER</button>
        </div>
        <div *ngIf="!showButton"></div>
    </div>



    <div class="address" *ngIf="showAddress">
        <mat-toolbar fxLayout="row">
            <div fxLayout="row" fxLayoutGap="2px">
                <span class="title">Address Details</span>
            </div>
        </mat-toolbar>
    </div>
    <div class="customer" fxLayout="column" *ngIf="!showAddress">

        <div style="margin: 30px;">

            <form [formGroup]="BookingForm" class="customerAddress" fxLayout="column wrap" fxLayoutGap="30px;">

                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div fxLayout="row " class="title-header" fxLayoutAlign="space-between center">
                    <span>
                        <h2 id="title-name">Customer Details</h2>
                    </span>
                    <!-- <div class="newAddress"> -->
                        <button mat-raised-button  class="address-btn">Add New
                            Address</button>
                    <!-- </div> -->
                </div>

                    <div class="form-conten" div fxLayout="row wrap" fxLayoutAlign="space-between center" >
                        <div class="fullName">
                            <div>
                                <mat-label>FullName</mat-label>
                            </div>
                            <mat-form-field appearance="outline" class="content" id="email" with="100%">
                                <input type="Text" matInput placeholder=""  [value]="fullName" disabled>
                                <mat-error fxLayoutAlign="end">Full Name required !</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="phoneNumber">
                            <div>
                                <mat-label>Mobile Number</mat-label>
                            </div>
                            <mat-form-field appearance="outline" class="content" id="phonenumber">
                                <input type="tel" matInput placeholder=""  [value]="MobileNumber" disabled>
                                <mat-error fxLayoutAlign="end">Mobile Number required !</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="address-form" fxLayout="column">
                            <div>
                                <mat-label>Address</mat-label>
                            </div>

                            <mat-form-field appearance="outline" id="address">
                                <input type="text" matInput placeholder="" formControlName="address">
                                <mat-error fxLayoutAlign="end">Address required !</mat-error>
                            </mat-form-field>

                            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                                <div class="city">
                                    <div>
                                        <mat-label>city/town</mat-label>
                                    </div>
                                    <mat-form-field appearance="outline" class="content" id="city">
                                        <input type="text" matInput placeholder="" formControlName="city">
                                        <mat-error fxLayoutAlign="end">city/town is required !</mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="state">
                                    <div>
                                        <mat-label>State</mat-label>
                                    </div>
                                    <mat-form-field appearance="outline" class="content" id="state">
                                        <input type="tel" matInput placeholder="" formControlName="state">
                                        <mat-error fxLayoutAlign="end">Mobile Number required !</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="column" fxLayoutGap="7px">
                                    <span class="type">Type</span>
                                    <mat-radio-group aria-label="Select an option" class="radio">
                                        <mat-radio-button class="home1" (click)="typeId=1"   value="1">home</mat-radio-button>
                                        <mat-radio-button class="work" (click)="typeId=2"  value="2">work</mat-radio-button>
                                        <mat-radio-button class="other" (click)="typeId=3"  value="3">other</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div fxLayoutAlign="end">
                                    <button mat-raised matTooltip="Continue" class="continue-btn"
                                         (click)="onSubmit()">Add Address</button>
                                </div>
                                <div fxLayoutAlign="end">
                                    <button mat-raised matTooltip="Continue" class="continue-btn"
                                        *ngIf="showContinueButton" (click)="showOrdersummery=true">Continue</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="order" fxLayout="row" >
        <mat-toolbar fxLayout="row">
            <div fxLayout="row" fxLayoutGap="2px">
                <span class="title">Order Summary</span>
            </div>
        </mat-toolbar>
    </div>

    <div class="summary" *ngIf="showOrdersummery">

        <div fxLayout="column">

            <div *ngFor="let Book of booksArray" fxLayout="row wrap" fxLayoutAlign="space-between center"
                class="bodyBox">

                <span>
                    <h2 class="title-order">Order Summary</h2>
                </span>

                <div style="display: flex;flex-direction: row;justify-content: flex-start;">

                    <div>
                        <img [src]="Book.bookmodel.bookImage" alt="" class="image2">
                    </div>

                    <div fxLayout="column" fxLayoutAlign="start none" style="margin-left: 26px;margin-top: 13px;">

                        <div fxLayoutGap="20px">

                            <div fxLayout="column">
                                <h2 class="title">{{Book.bookmodel.bookName}}</h2>
                                <p id="para">by {{Book.bookmodel.authorName}}</p>
                            </div>

                        </div>

                        <div class="order-price">
                            <b style="margin-left: 4px;">Rs. {{Book.bookmodel.discountPrice}}</b>
                            <del id="del2"> Rs. {{Book.bookmodel.actualPrice}}</del>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" mat-raised-button matTooltip="Continue" class="button2">CheckOut</button>
            </div>
        </div>
    </div>
</div>