.container {
    height: 100%;
    width: 100%;
}

.tool {
    background-color: brown;
}

#text {
    color: white;
}

.img-Icon{
    padding-left: 64%;
    padding-right: 10%;
    padding-top: 3%;
}

.search {
    margin-left: 15%;
    width: 33%;
    height: 54%;
    padding: 0px;
}

.searchInput {
    height: 50%;
    width: 90%;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: dimgrey;
}
.mat-card>:first-child, .mat-card-content>:first-child {
    margin-top: 0px;
    display: contents;
    color: gray;
   
}
.Profile{
    display: flex;
    flex-direction: column-reverse;
    background: brown;
    border-color: brown;
    color: white;
    border: transparent;
    padding-left: 7%;
    cursor: pointer;
}
.cart{
    display: flex;
    flex-direction: column-reverse;
    background: brown;
    border-color: brown;
    color: white;
    border: transparent;
    padding-left: 5%;
    cursor: pointer;
}