<div class="container">
    <div>
    <mat-toolbar class="tool" fxLayout="row" >
      <div class="titleText" fxLayout="row">
        <img src="../../assets/education.svg"  class="img-Icon"/>
        <a id="text">BookStore</a>
      </div>
  
      <mat-card class="search" fxLayout="row" fxLayoutAlign="space-around center">
        <button mat-icon-button>
          <mat-icon class="searchIcon">search</mat-icon>
        </button>
        <input class="searchInput" type="text" name="search" placeholder="Search.." #search  />
      </mat-card>
     
      <button  class="Profile" mat-button >Profile <mat-icon class="searchIcon" >perm_identity</mat-icon></button> 
      <button class="cart" mat-button >Cart<mat-icon >shopping_cart</mat-icon></button>
    </mat-toolbar>
    <router-outlet></router-outlet>
    </div>
  </div>