<div class="container">

  <div fxFlex.sm="50">
    <mat-toolbar class="tool" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="titleText" fxLayout="row" fxFlex.xs="1px" >
        <img src="../../assets/education.svg" class="img-Icon" />
        <a id="text">BookStore</a>
      </div>

      <mat-card class="search" fxLayout="row" fxLayoutAlign="space-around center" fxHide.xs>
        <button mat-icon-button>
          <mat-icon class="searchIcon">search</mat-icon>
        </button>
        <input class="searchInput" type="text" name="search" placeholder="Search.." #search />
      </mat-card>

      <button class="Profile" mat-button [matMenuTriggerFor]="menu" >Profile <mat-icon class="searchIcon">perm_identity
        </mat-icon>

        <mat-menu class="matmenu" #menu="matMenu">
          <div fxLayout="column" fxLayoutGap="3px" style="width: 200px;">
            <h3 class="welcome">Hello Nitish,</h3>
          </div>
        
          
          <button class="wishlistbutton" mat-menu-item  fxLayoutAlign.sm="end center" >
            <mat-icon class="wishlistIcon">favorite</mat-icon> My Wishlist
          </button>
             
          <div style="margin-top: 1px;" mat-menu-item fxLayoutGap="0px">
            <button (click)="Logout()" class="loginbutton">Logout</button>
          </div>
        </mat-menu>
      </button>


     <div  fxLayout ="row"   fxLayoutAlign=" "  fxLayoutAlign.sm ="end center" > 
      <button class="cart" mat-button routerLink="./getcart">Cart<mat-icon>shopping_cart</mat-icon></button>
      </div>

    </mat-toolbar>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>