
.orderimg{
    width: 272px;
    height: 211px;
    margin-top: 90px;
    margin-left: 590px;
}
   
p{
    text-align: center;
    font: normal normal normal 18px/22px Lato;
    color: black;
    margin-left: 310px;

}

.User-table{
    width:70%;
     margin-left: 312px;
}

table,tr, td {
    border: 1px solid lightgray;
}

th{
    background-color: whitesmoke;
}

.continuebutton{
    background-color: blue;
    color: white;
    border: none;
    margin-top: 40px;
    margin-left: 630px;
    width: 200px;
    height: 40px;
    text-align: center;
    justify-content: center;
}