<div class="section" fxLayout="column">
    <div class="placeorder">
        <img class="orderimg" src="../../assets/placeOrder.png" alt="">

    </div>
    <div>
        <p>
            hurray!!! your order is confirmed<br> the order id is #123456 save the order id for<br> further
            communication..
        </p>
    </div>

    <div>
        <table  class="User-table" >
            <tr fxLayoutGap="0px">
                <th style="text-align:center">Email</th>
                <th style="text-align:center">Contact us</th>
                <th style="text-align:center">Address</th>
            </tr>

            <td style="text-align:center">admin@bookstore.com</td>
           
            <td style="text-align:center">+91 8163475881</td>

            <td style="text-align:center">42, 14th Main, 15th Cross, Sector4, opp to BDA<br>complex, near kumarakom
                restaurant, HSR Layout, Bangalore 560034</td>

        </table>
    </div>

    <div>
        <button mat-flat-button class="continuebutton" color="primary" routerLink="/dashboard/getallbook">
            Continue shopping</button>
    </div>
</div>